/* universal
___________________________________*/
body{
  color: #343434;
}
img {
  width: 300px;
}

a{
  color: yellow;
  text-decoration: underline;
}
a:hover{
  color: red;
}

/* Profile
--------------------------------------*/
header{
  background-color: #2f3061;
  color:#f7f7f7
}

/* Project
---------------------------------------*/
.project{
  background-color: #f7f7f7;
}

.project a{
  color: white;
  background-color: blue;
}

.project a:hover{
  color: rgb(42, 213, 108);
}
/* Work Experience
--------------------------------------*/
.work-experience{
  background-color: #A1C6D7;
}

/* Education
----------------------------------------*/
.education{
  background-color: blueviolet;
}

/* Contact
----------------------------------------*/
footer{
  background-color: #343434;
  color: #f7f7f7;
}