/* :root is used to select the root , because html is an element and it loads
    to the node and removed
*/
:root {
  --lime: #a4ffa2; /* --name is used to decalre a variable  */
  --magenta: #f47dda;
  --magenta50: #f47dda80;
  --white: #ffffff;
  --tan: #cec5b4;
  --teal: #2e6d81;
  --cyan: #7de6f4;
  --black: #050d14;
}
html {
  box-sizing: border-box;
  /* box-sizing : border box makes sure that when we sets the padding and margin 
  the content not over flow  */
}

*,
:before,
:after {
  box-sizing: inherit;
}
.lime {
  /* var() is used to use the variable we declared we can use that variable by writing 
    --name inside the parameter of var() */
  background-color: var(--lime);
}
.magenta {
  background-color: var(--magenta);
}
.magenta50 {
  background-color: var(--magenta50);
}
.white {
  background-color: var(--white);
}
.tan {
  background-color: var(--tan);
}
.teal {
  background-color: var(--teal);
}
.cyan {
  background-color: var(--cyan);
}
.black {
  background-color: var(--black);
}
.colors {
  display: flex;
  flex-direction: row wrap;
  gap: 1rem;
}
.colors > * {
  /*  .name>*  means we are selecting everything that is direct decendent of coloros */
  width: 3rem;
  height: 3rem;
}
